.generalDetails{
    display: flex;
    background-color: rgba(63, 61, 61, 0.4);
}
.Buton4{
    overflow: visible;
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #e74c3c;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    background-color: black;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: 0.2em;
    zoom: 1;
    color: #e74c3c;
    font-family:'Arial';
    text-shadow:black;
    box-shadow:black;
}
.details{
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    text-shadow: 0 0 4px #0a0a09, 0 0 4px #0f0e0e;
    font-size: 25px;
    color:rgb(251, 251, 51);
    line-height:40px;
}
.detailsImg{
    width: 600px;
    height: 400px;
    border-radius: 10px;
}
.detailsName{
    margin-top: 10px;
}
.rightContent{
    font-size: 20px;
    margin-left: 10px;
}

.detailsDescription{
    padding: 6px;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    height: 750px;
}
.detailsDescriptionTitle{
    text-decoration: underline;
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    text-shadow: 0 0 4px #0a0a09, 0 0 4px #0f0e0e;
    font-size: 25px;
    color:rgb(251, 251, 51);
    line-height:40px;
}
.detailsDescriptionContent{
    letter-spacing: 1px;
    font-family: 'Bebas Neue', cursive;
    padding: 10px;
    text-shadow: 0 0 4px #0a0a09, 0 0 4px #0f0e0e;
    font-size: 25px;
    color:rgb(251, 251, 51);
    line-height:40px;
    overflow: hidden;
    overflow-y: auto;
}