.genreFilter{
    margin-bottom: 5px;
    position: relative;
}
.genreLabel{
    font-size: 20px;
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.genreInput{
    display: none;
}
.genreCheckImg{
    height: 20px;
}
.genreButton{
    border: none;
    font-size: 17px;
    padding: 2px 4px;
    border-radius: 3px;
}