.genreFilter{
    position: relative;
}
.genreLabel{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.genreInput{
    display: none;
}
.genreCheckImg{
    height: 20px;
}

/* Button3 styles in App.css*/