.divFormZone{
    margin-top: 50px;
    display: flex;
}
.form{
    display:flex;
    flex-direction: column;  
    align-items: left;
    justify-content: center;
    width: 60%;
    letter-spacing: 8px;
    font-family: 'Bebas Neue', cursive;
    background-color: rgba(63, 61, 61, 0.4);
    text-shadow: 0 0 4px #0a0a09, 0 0 4px #0f0e0e;
    font-size: 45px;
    color:rgb(251, 251, 51);
    line-height:40px;
}
.labelForm{
    display:flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.nombre{
    color:white;
    font-size:20px;
    margin-right: 8px;
    width:40%;
    text-align: right;
}
.formInputs{
    padding: 0 7px;
    font-size: 18px;
    width: 240px;
    height: 30px;
    border: none;
    border-radius: 4px;

}
.formTextArea{
    padding: 0 7px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 240px;
    height: 60px;
    border: none;
    border-radius: 4px;
}
.checks{
    color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:100%;
}
.formFilter{
    position: relative;
    width: auto;
}
.labelFormButton{
    margin-right: 40px;
    color:white;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.formInput{
    display: none;
}
.formCheckImg{
    height: 20px;
}
.textFormButton{
    color:white;
    margin-left:10px;
    font-size:26px;  
    color:#FBFB33;  
}
.createdDiv{
    display: none;
    margin: auto;
}
.failedCreate{
    display: none;
}
.createFormButton{
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
    text-decoration: none;
    padding: 4px 6px;;
    font-size: 22px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -o-transition: .3s;
    background-color: black;
    color: #e74c3c;
    border: 1px #e74c3c solid;
    margin: auto;
}
.createFormButton:hover {
    cursor: url(http://cur.cursors-4u.net/symbols/sym-1/sym46.cur), auto;
    color: #fff;
    background-color: #e74c3c;
}

/* Button4 styles in App.css*/