.alphSort{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.alphRadios{
    height: 70px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.aRadio{
    width: 110px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* esta configuración es para ambos radio buttons, incluye los de valoración */
.radioSpan{
    color:white;
    font-size:20px;
}

/* h4Titles esta en App.css */