.search{
    width: 100%;
    display: flex;
    justify-content: left;
}
.searchForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.labelcss{
    font-size: 30px;
    margin-bottom: 5px;
}
.searchText{
    background-color: rgb(211, 208, 208);
    border:none;
    margin-bottom: 5px;
    padding: 3px 2px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display :block;
    width: 300px;
    
}




.searchButton:active{
    background-color:darkslategrey ;
}