.searchForm{
    height: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.labelcss{
    font-size: 30px;
    margin-bottom: 5px;
}
.searchText{
    background-color: rgb(211, 208, 208);
    border: none;
    border-radius: 3px;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display :block;
    width: 90%;
}
.searchButton:active{
    background-color:darkslategrey ;
}

/* Button3 styles in App.css*/
/* h3Titles se encuentra en App.css */